body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 40px;
}
.titulo {
    color: #333333;
    text-align: center;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

#subtitulo {
    color: #1ded02;
    line-height: 1.8;
}

nav a {
    list-style-type: none;
    padding: 0;
}

.meu-botao {
    background-color: #1ded02;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:  16px;
}

.meu-botao:hover{
    background-color: #0056b3;
    transform: translateY(-4px);
}

.container{
    text-align: right;
    height: 400px;

}
.container-foto {

    width: auto;
    height: 20%;
}